.edit-contents-title {
  text-align: center;
}

.edit-nickname {
  display: flex;
  margin-left: 475px;
  width: 500px;
}

.edit-imageUrl {
display: flex;
margin-left: 475px;
width: 500px;
}

.edit-text {
display: flex;
margin-left: 475px;
width: 500px;
}

.edit-send {
display: flex;
width: 55px;
margin-left: 690px;
}