/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* ここから */

header {
  height: 100px;
  background-color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-left: 70px;
  font-family: cursive;
  margin-top: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 20px;
}

.post {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 12px;   /* 余白       */
  background-color: darkorchid;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  margin-top: 5px;
}
a {
  text-decoration: none;
}

body {
  background-color: #dfd0d0;
}

footer {
  height: 75px;
  background-color: white;
}

.footer-title {
  text-align: center;
  padding-top: 30px;
}