// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-wrap {
  margin: 40px 0px;
}

.card {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.content_post {
  height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
  background-size: cover;
}

.card-body {
  background-color:white;
  margin-left: 100px;
  margin-right: 100px;
}

.post-time {
  background-color: white;
}

// .post-profile-icon {
//   height: 40px;
//   width: 40px;
//   border-radius: 50%;
//   margin-right: 10px;
// }

.parts {
  margin: 12px 0;
  background-color: white;
  
}

.love {
  margin-left: 8px;
  background-image: url("parts5.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 17px !important;
}

.comment {
  margin-left: 8px;
  background-image: url("parts6.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 17px !important;
}

.love-mark {
display: flex;
}

.post-time {
  margin-left: 10px;
}

.form {
  display: flex;
  height: 80px;

}

.form-title {
  margin-left: 5px;
}

.form-comment {
  border: none;
  width: 80vw;
}

.send {
  margin-left: 10px;
  border: 1px solid grey;
  height: 35px;
}

.contants {
  height: 300px;
  display: flex;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 125px;
}

.delete-post-icon {
  background-image: url("parts9.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px !important;
  color: #262626;
  margin-right: 100px;
}

.edit-post-icon {
  background-image: url("parts8.png");
  width: 30px;
  height: 30px;
  background-size: 30px !important;
  color: #262626;
  margin-left: 1130px;
}